@{
    ViewData["Title"] = "Home Page";
}



<div class="container">

    <div class="jumbotron card block col-md">
        <div class="col-md" style="text-align:center;">
            <h1 class="display-4">Welcome To Save 'N Money</h1>
        </div>
    </div>
</div>

@section scripts{
   <script>
       var errorMessage = '@TempData["Messagee"]';
       if (errorMessage != "") {
           Swal.fire({
               icon: 'error',
               title: 'Oops....',
               title,

           })
       }
   </script>
 }